<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>hello this is Navbar</h1>
    <ul>
      <li><a class="nav-link" href="/">home</a></li>
      <li><a class="nav-link" href="/about">about</a></li>
      <!-- <li><a class="nav-link" href="#">contact</a></li> -->
      <!-- <li><a class="nav-link" href="#">{{channelName}}</a></li> -->
      <li><a class="nav-link" href="/weather">Weather</a></li>
    </ul>
    <form class="d-flex" action="">
      <button class="my_btn">SignIn</button>
    </form>
  </body>
</html>