<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>sorry this page does not exist</h1>
    <a class="nav-link" href="/"><button>Home page</button></a>
    {{! <button>home page</button> }}
  </body>
</html>